.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    text-align: left;
}

.about-title{
    margin-bottom: 1em;
    margin-top: 0;
    padding-top: 0;
    text-align: left !important;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.section-subtile{
    color: #BCC5CE;
}

.about__info {
    margin-top: 2em;
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border-top: 0.2em solid #9251F7; */
    /* border-bottom: 0.2em solid #9251F7; */

    text-align: center;
    padding: 2em;
}

.about__box {
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4em;
    width: 10em;
    text-align: center;
    display: block;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    color: var(--title-color-dark);
    font-size: 0.7em;
    font-weight: var(--font-semi-bold);
    display: flex;
    justify-content: center;
    
}
.sliding-number-postfix{
    font-size: 1.5em;
    font-weight: var(--font-semi-bold);
    /* color: var(--title-color); */
}


.about__subtitle {
    font-size: 1em;
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}
/* Dark Mode */
#dark .section__title {
    color: #ae8cfa;
}
#dark .section__subtitle{
    color: #BCC5CE;
}
#dark .about__description{
    color: rgba(220, 220, 220, 0.817);
}
#dark .about__box{
    background-color: #BCC5CE;
}
#dark .about__title{
    color: #242132;
}
#dark .about__subtitle{
    color: #242132ba;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about__img{
        width: 220px;
    }
    .about__box{
        padding: 0.75rem 0.5rem;
    }
    .about__data{
        text-align: center;
    }
    .about__info{
        justify-content: center;
    }
    .about__description{
        padding: 0 6rem;
        margin-bottom: 2rem;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .about__info{
        grid-template-columns: repeat(3, 1fr);
    }
  .about__description{
        padding: 2rem 3rem;
        margin-bottom: 0rem;
    }
    
}

/* For small devices */
@media screen and (max-width: 350px) {
    .about__info{
        grid-template-columns: repeat(2, 1r);
    }
}