@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* body {
    background: #516CF7;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);
  } */
  
 
.parent {
display: flex;
flex-direction: column;
/* width: 300px; */

}



.location {
  text-align:start !important;
  /* margin-top: 2px !important; */
  padding-top: 0 !important;
   font-size: x-small !important;
  }

.Image_title_subtitle_container {
  display: flex;
  flex-direction: row;
  height: 65px;
  /* margin-top: 16px; */
 }

.div4 { 
display: flex;
flex-direction: column;
 }
.jobcard{
  display: flex;

}


.title_and_workplace{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  /* justify-content: space-evenly; */
  /* gap: px; */
}

  .pair2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-evenly !important
    /* gap: 200px; */
  }
  .work_image {
    width: 50px;
    height: 50px;
    padding: 4px;
    border: 2px solid #516CF7;
    border-radius: 20%;
  }
  
  /* h3 {
    padding-top: 0.25em;
  } */
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    /* padding: 2em 3em !important; */
    width: 550px !important;
  }

  .description2>.tiny_font {
 
    /* color: red; */
    margin: 0px 0px;
    margin-left: 20px;
    font-weight: 300;
    font-size:x-small !important;
    white-space: pre-line;
  }
  .work_title_font{
    
    font-size:x-small !important;
  }.work_title_header_font{
    
    font-size:small !important;
  }
  
  .date {
    /* color: rgb(201, 251, 255); */
  }
  
  .description2{
    /* margin: 1.5em 0 2em 0;
    white-space: pre-line; */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* min-width: 500px; */
    max-width: 50%;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
    background-color: #06d6a0;
  }
  
  .workButton:hover {
    background-color: #0ac593;
  }
  
  .schoolButton {
    background-color: #f9c74f;
  }
  
  .schoolButton:hover {
    background-color: #f3bc3c;
  }
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      /* margin-top: 1.5em; */
    }
  }

.p_no_margin{
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", Helvetica, sans-serif; */
}

  .tiny_font{
    font-size: 0.813rem !important;
  }