.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(
        111deg,
        rgba(205, 215, 250, 0.1) 0%,
        rgba(61, 79, 240, 0.1) 100%
      );
    
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10rem;
    width: 100%;
    

}

.header {
    background: linear-gradient(
      111deg,
      rgba(205, 215, 250, 0.1) 0%,
      rgba(61, 79, 240, 0.1) 100%
    );
    box-shadow:
      inset 0px 10px 5px 0px rgba(255, 255, 255, 0.15),
      inset 0px -10px 5px 0px rgba(205, 215, 250, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    width: 6rem;
    /* padding: 10px; */
    padding-top: 1rem;
}

.nav__list {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    gap:2rem;
}
.nav-ul-links
{
    display: flex;
    gap:2em;
}


.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:large;
    color: var(--title-color);
    font-weight: var(--font-meduim);
    /* transition: .3s; */
    padding: 1px 4px;
}
.nav__item {
    list-style-type: none;
    display: flex;
    align-self: center;
    margin-left: 0;

}

@media (max-width: 1000px) {
    .cv-button {
        display: none;
    }
}

.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

/* active link*/
.active-link,
.nav__link:hover {
    /* color: var(--title-color-dark);
     */
     font-weight: 600;
     border-bottom: 2px solid #516CF7;
     /* border-left: 2px solid #516CF7; */
     /* border-right: 1px solid #516CF7; */
     /* border: 2px solid #516CF7; */
     /* border-radius: 20%; */
     cursor: pointer;
}

/* Change background color*/
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.switch {
    position: relative;
    left: 0px !important;
    
   
}

.react-switch-bg{

       height: 28px;
    width: 56px;
    margin: 0px;
    position: relative;
    background-color: #242132 !important;
    border-radius: 14px;
    cursor: pointer;
    transition: background 0.25s ease 0s;
}
   


/* dark mode  */

#dark .nav {
    background-color: #516CF7;
}


@media screen and (max-width: 992px) {
   .switch{
    position: absolute;
    left: 180px;
   }
    }
/* For medium devices */
@media screen and (max-width: 768px) {
    .nav {
       background-color: #516CF7;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
    }
    .nav {
    }


    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
    background-color: #ffffff;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
        border: 2px solid #516CF7;
    }

    /* show menu */
    .show-menu {
        bottom: 0 !important;
    }

   
    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1rem;
        top: auto;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);

    }

    .nav__close:hover {
        color: var(--title-colot-dark)
    }
.nav__logo, .nav__toggle {
    color: white;
    width: 100px;
    /* padding: 10px; */
    /* margin-left: 40px; */
}
    .nav__toggle {
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 0;
        top:0;
        margin: 0;
        padding: 0;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }
    .switch{
        position: absolute;
       left: 20px;
    }
}


@media screen and (max-width: 576px) {

    .header {
        width: 100%;
        position: fixed;
        /* bottom: 0; */
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);
    }
    .nav {
    background-color: #516CF7;
}
 .switch{
        position: absolute;
       left: 10px;
    }
}

@media screen and (max-width: 350px) {

    .nav__menu {
        padding: 3rem 0.1rem 4rem;
    }

    .nav__link {
        column-gap: 0;
    }
  .nav {
    background-color: #516CF7;
}
 .switch{
        position: absolute;
       left: 0px;
    }

    .nav__logo{
    color: var(--title-color);
    width: 100px;
    /* padding: 10px; */
    margin-left: 100px  !important;
}
.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 7rem;
    flex-direction: column;
}
       


}