

.skills2-container{
    display: grid;
    place-items: center;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 38.3rem;
}

/* When the width is less than 1000px, switch to a grid with 3 columns */
@media (max-width: 999px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

  }
}

/* When the width is less than 625px, switch to a grid with 2 columns */
@media (max-width: 624px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

  }
}

@media (max-width: 425px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

  }
}

/* Original media query for screens wider than 1000px */
@media (min-width: 1000px) {
  .skills-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

  }
}

  
  .skill-tag {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #e4edeb86; /* Gray with 60% opacity */
    border-radius: 6px;
    width: 12rem;
    height: 3.5rem;
    box-sizing: border-box;
    padding: 2rem;
  }
  
  .image-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem; /* Adjust the SVG size as needed */
    height: 2.5rem; /* Adjust the SVG size as needed */
    margin-right: 0.5rem;
    border-radius:15%;
  }
  
  .skill-image { 
    color:red;
    width: 60%;
    height: 60%;
  }
  
  .skill-name {
    text-align: right;
    font-size: 1rem;
  }
  .skills-container p{
    font-family:  "Poppins", sans-serif;
  }
  