.skills2-container {
  display: grid;
  place-items: center;
  max-width: 90%;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 38.3rem; /* Keep this to limit the maximum width */
  width: 100%; /* Ensure it takes the full width of its container */
  margin: auto; /* Center it within its parent */
}

.ui-skills {
 display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 80rem; /* Keep this to limit the maximum width */

  gap: 1rem;
  padding: 0;
 margin-left: 10%; /* Add 10% margin to center the element horizontally */
    margin-right: 10%; /* Add 10% margin to center the element horizontally */
}


@media (max-width: 999px) {
  .skills-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
  }
}

@media (max-width: 624px) {
  .skills-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
  }
}

@media (max-width: 425px) {
  .skills-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
  }
}

@media (min-width: 1000px) {
  .skills-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      max-width: 100%; /* Allow it to expand fully within the container */
  }

  /* Ensuring alignment with the first grid item */
  .skills-header, .skills-container {
      padding-left: 0;
      margin-left: 0;
  }
}

.skill-tag {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #e4edeb86;
  border-radius: 6px;
  width: 12rem; /* You might need to adjust this based on your design */
  height: 3.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill-tag:hover {
    transform: perspective(600px) rotateX(20deg) rotateY(10deg);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.skill-tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: inherit;
  transition: width 0.3s ease;
  border-radius: 6px;
  z-index: 0;
}

.skill-tag:hover::before {
  width: 100%;
}

.image-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 15%;
  z-index: 1;
}

.skill-image {
  width: 60%;
  height: auto;
  z-index: 2;
}

.skill-name {
  text-align: right;
  font-size: 1rem;
  z-index: 1;
}

.skills-header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  font-size:var(--smal-font-size);
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
