

.skills2-container{
    display: grid;
    place-items: center;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 38.3rem;
}

/* When the width is less than 1000px, switch to a grid with 3 columns */
@media (max-width: 999px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

  }
}

/* When the width is less than 625px, switch to a grid with 2 columns */
@media (max-width: 624px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

  }
}

@media (max-width: 425px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

  }
}

/* Original media query for screens wider than 1000px */
@media (min-width: 1000px) {
  .skills-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

  }
}

  
.skill-tag {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #e4edeb86;
  border-radius: 6px;
  width: 12rem;
  height: 3.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d; /* Enable 3D transformations */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition for 3D effect and shadow */
}

.skill-tag:hover {
  /* Apply 3D rotation */
  transform: perspective(600px) rotateX(20deg) rotateY(10deg);
  /* Optional: Add a shadow to enhance the 3D effect */
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.skill-tag::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Initially hidden */
  height: 100%;
  background-color: inherit;
  transition: width 0.3s ease; /* Smooth transition for the width */
  border-radius: 6px;
  z-index: 0;
}

.skill-tag:hover::before {
  width: 100%; /* Fills the tag on hover */
}

.image-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 15%;
  z-index: 1;
}

.skill-image {
  width: 60%;
  height: auto; /* Maintain aspect ratio */
  z-index: 2;
}

.skill-name {
  text-align: right;
  font-size: 1rem;
  z-index: 1;
}

