


.tag.tag-design-12:hover {
  background: linear-gradient(to top, #516CF7 0%, #516CF7 0%) !important;
  transition: background-size 2s !important;
  background-size: 100% 100% !important;
  color: white !important;
}

.tag.tag-design-12 { 
    background-color: transparent;
    color: #516CF7;
    border: 2px solid #516CF7;
    padding: 4px 12px;
    margin: 3px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}

.tag-purple{
  background-color: transparent;
  color: #9251F7;
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  background-color: #EFF4F2;
  padding: 0.5em 1.2em;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
  font-size: 0.875em;
  border-radius: 5px;
  max-height: 3.25em;
  box-shadow: inset 0 0 0 0 #725AC1;
  transition: ease-out 0.5s;
}

.tag.tag-design-12:hover {
  background: linear-gradient(to top, #516CF7 0%, #516CF7 0%) !important;
  transition: background-size 2s !important;
  background-size: 100% 100% !important;
  color: white !important;
}

.tag.tag-design-12 { 
    background-color: transparent;
    color: #516CF7;
    border: 2px solid #516CF7;
    padding: 4px 12px;
    margin: 3px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}


.tag-purple:hover{
  /* background: linear-gradient(to top, #9251F7 0%, #9251F7 0%) !important; */
  transition: background-size 2s !important;
  box-shadow: inset 0 -100px 0 0 #725AC1;
  background-size: 100% 100% !important;
  color: white !important;
  /* box-shadow: 0 0 8px #9251F7; Adds glow around the tag */
  color: #FFF; /* Changes text color to white for visibility */
  transition: box-shadow 0.3s, color 0.3s;
}

.tag.tag-design-12:hover {
  background: linear-gradient(to top, #516CF7 0%, #516CF7 0%) !important;
  transition: background-size 2s !important;
  background-size: 100% 100% !important;
  color: white !important;
}

.tag.tag-design-12 { 
    background-color: transparent;
    color: #516CF7;
    border: 2px solid #516CF7;
    padding: 4px 12px;
    margin: 3px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}




  .icon,
  .icon2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    /* cursor: pointer; */
   
  }
  
  .icon {
    color: #516CF7;
    margin: 0 var(--mb-1);
    background-color: #E1E7FE;
    /* box-shadow: 0px 0px 10px rgba(81, 108, 247, 0.3); */
  }
  
  .icon2 {
    color: #9251F7;
    margin: 0 var(--mb-1);
    background-color: #EFE2F9;
    /* box-shadow: 0px 0px 10px rgba(146, 81, 247, 0.3); */
  }
  



.pair{
  display: flex;
  align-items: flex-start;
  gap:0;
}

  